		</main>

		<footer class="footer">
			<div id="footer_container" class="container">
				<hr>
				<p id="app_version" class="text-right text-muted small">
					{{appName}} {{appVersion}} &copy; {{currentYear}}
				</p>
			</div>
		</footer>
	</body>
</html>