{{>layout/header}}

<div id="sessionEstablished" class="hidden">{{sessionEstablished}}</div>

<div class="container">
    {{#systemStatusMessage}}
        <div class="row align-items-center alert alert-teal" role="alert">
            <div class="col-md-auto text-center">
                <img src="/images/info-icon.png" alt="System Status" height="50px" />
            </div>
            <div class="col">
                {{systemStatusMessage}}
            </div>
        </div>
    {{/systemStatusMessage}}

    <h1>Assessments</h1>
    <div class="cardContainer">
        {{#assessmentModels}}
            <div class="card" data-label="{{label}}">
                <table>
                    <thead>
                    <tr>
                        <td>{{label}}</td>
                        {{#learnMoreUrl}}
                            <td>{{#learnMoreUrl}}<a href="{{learnMoreUrl}}" target="_blank">Learn More</a>{{/learnMoreUrl}}</td>
                        {{/learnMoreUrl}}
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>(graph)</td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <table>
                                <thead>
                                <tr>
                                    <td colspan="2">History of {{label}}</td>
                                </tr>
                                </thead>
                                <tbody>
                                {{#responseSummaryList}}
                                    <tr>
                                        <td>{{authored}}</td>
                                        <td>{{score}}</td>
                                        <td>{{interpretation}}</td>
                                    </tr>
                                {{/responseSummaryList}}
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">Source: {{sourceEndpointName}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        {{/assessmentModels}}
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function() {
        if ($('#sessionEstablished').text() !== 'true') {
            return;
        }

        // todo : things that should happen once the page has loaded
    });
</script>

{{>layout/footer}}