{{>layout/header}}

<div id="sessionEstablished" class="hidden">{{sessionEstablished}}</div>

<div class="container">
    {{#systemStatusMessage}}
        <div class="row align-items-center alert alert-teal" role="alert">
            <div class="col-md-auto text-center">
                <img src="/images/info-icon.png" alt="System Status" height="50px" />
            </div>
            <div class="col">
                {{systemStatusMessage}}
            </div>
        </div>
    {{/systemStatusMessage}}

    <div id="progressContainer" class="hidden"></div>

    <h1>Current Health Issues</h1>
    <p>
        <input type="button" value="Add a Health Concern" onclick="window.location.href='/patient/conditions/add'" />
    </p>

    <div class="cardContainer">
        {{#conditionModels}}
            <div class="card">
                <table>
                    <thead>
                    <tr>
                        <td colspan="2">{{name}}</td>
                    </tr>
                    </thead>
                    <tbody>
                    {{#asserter}}
                        <tr>
                            <td colspan="2">Asserted by: {{asserter}}</td>
                        </tr>
                    {{/asserter}}
                    {{#recorder}}
                        <tr>
                            <td colspan="2">Recorded by: {{recorder}}</td>
                        </tr>
                    {{/recorder}}
                    {{#recordedDate}}
                        <tr>
                            <td colspan="2">Recorded on: {{recordedDate}}</td>
                        </tr>
                    {{/recordedDate}}
                    {{#onsetDate}}
                        <tr>
                            <td colspan="2">When it started: {{onsetDate}}</td>
                        </tr>
                    {{/onsetDate}}
                    {{#notes}}
                        <tr>
                            <td colspan="2">Note: {{.}}</td>
                        </tr>
                    {{/notes}}
                    <tr>
                        <td colspan="2">Source: {{sourceEndpointName}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        {{/conditionModels}}
    </div>
</div>

<script type="text/javascript">
    function getProgressEndpoint() {
        return "/patient/conditions/progress";
    }
    $(document).ready(function() {
        if ($('#sessionEstablished').text() !== 'true') {
            return;
        }

        // todo : things that should happen once the page has loaded
    });
</script>

{{>layout/footer}}