{{>layout/header}}

<div id="sessionEstablished" class="hidden">{{sessionEstablished}}</div>
<div id="dataSets" class="hidden">{{dataSets}}</div>

<div class="container">
    {{#systemStatusMessage}}
        <div class="row align-items-center alert alert-teal" role="alert">
            <div class="col-md-auto text-center">
                <img src="/images/info-icon.png" alt="System Status" height="50px" />
            </div>
            <div class="col">
                {{systemStatusMessage}}
            </div>
        </div>
    {{/systemStatusMessage}}

    <div id="progressContainer" class="hidden"></div>

    <h1>Health Goals</h1>
    <div id="modelsContainer">
        <div class="d-flex align-items-center gap-3 p-3 border rounded bg-light text-muted" role="status" aria-live="polite">
            <div class="spinner-border color-primary" aria-hidden="true"></div>
            <div>
                <div class="fw-semibold">Loading records...</div>
                <div class="small">We’re gathering the latest information for this section.</div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function getBasePath() {
        return "/patient/health-goals";
    }

    function buildCardSelectorData(model) {
        return [{
            label: 'Description',
            value: model.description,
            bootstrapWidth: 4
        }, {
            label: 'Start Date',
            value: formatDate(model.startDate),
            valueForCompare: model.startDate,
            bootstrapWidth: 4
        }, {
            label: 'Source',
            value: model.sourceEndpointName,
            bootstrapWidth: 4
        }];
    }

    function buildCardData(model) {
        let card = {};
        card.title = model.description ?? '(No Description)';
        card.rows = [];
        if (model.expressedBy || model.startDate) {
            card.rows.push([ (model.expressedBy ? 'Expressed by: ' + model.expressedBy : ''), (model.startDate ? 'Start: ' + formatDate(model.startDate) : '') ]);
        }
        if (model.consolidatedStatus) {
            card.rows.push([ 'Status: ' + model.consolidatedStatus ]);
        }
        if (model.notes && model.notes.length > 0) {
            card.rows.push({
                title: 'Notes',
                headers: [ 'Note' ],
                rows: model.notes.map(function(note) {
                    return [ note ];
                }),
                beginExpanded: true
            });
        }
        card.rows.push([ 'Source: ' + model.sourceEndpointName ]);
        return card;
    }

    $(document).ready(function() {
        if ($('#sessionEstablished').text() !== 'true') {
            return;
        }

        // on page load, get the list of models before SSE triggers
        getUpdatedModels(renderModels);
        initializeSSE(renderModels);
    });
</script>

{{>layout/footer}}