{{>layout/header}}

<div id="sessionEstablished" class="hidden">{{sessionEstablished}}</div>
<div id="dataSets" class="hidden">{{dataSets}}</div>

<div class="container">
    {{#systemStatusMessage}}
        <div class="row align-items-center alert alert-teal" role="alert">
            <div class="col-md-auto text-center">
                <img src="/images/info-icon.png" alt="System Status" height="50px" />
            </div>
            <div class="col">
                {{systemStatusMessage}}
            </div>
        </div>
    {{/systemStatusMessage}}

    <div id="progressContainer" class="hidden"></div>

    <h1>Health Goals</h1>
    <div id="modelsContainer">
        Loading...
    </div>
</div>

<script type="text/javascript">
    function getBasePath() {
        return "/patient/health-goals";
    }

    function buildCardData(model) {
        let card = {};
        card.title = model.description ?? '(No Description)';
        card.rows = [];
        if (model.expressedBy || model.startDate) {
            card.rows.push([ (model.expressedBy ? 'Expressed by: ' + model.expressedBy : ''), (model.startDate ? 'Start: ' + model.startDate : '') ]);
        }
        if (model.consolidatedStatus) {
            card.rows.push([ 'Status: ' + model.consolidatedStatus ]);
        }
        if (model.notes) {
            model.notes.forEach(function(note) {
                card.rows.push([ 'Note: ' + note ]);
            });
        }
        card.rows.push([ 'Source: ' + model.sourceEndpointName ]);
        return card;
    }

    $(document).ready(function() {
        if ($('#sessionEstablished').text() !== 'true') {
            return;
        }

        // on page load, get the list of models before SSE triggers
        getUpdatedModels(renderModels);
        initializeSSE(renderModels);
    });
</script>

{{>layout/footer}}