{{>layout/header}}

<div id="sessionEstablished" class="hidden">{{sessionEstablished}}</div>

<div class="container">
    {{#systemStatusMessage}}
        <div class="row align-items-center alert alert-teal" role="alert">
            <div class="col-md-auto text-center">
                <img src="/images/info-icon.png" alt="System Status" height="50px" />
            </div>
            <div class="col">
                {{systemStatusMessage}}
            </div>
        </div>
    {{/systemStatusMessage}}

    <h1>Visits</h1>
    <div class="cardContainer">
        {{#encounterModels}}
            <div class="card">
                <table>
                    <thead>
                    <tr>
                        <td colspan="2">{{description}}</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>{{#serviceType}}Type: {{serviceType}}{{/serviceType}}</td>
                        <td>{{#period}}Date (range): {{period}}{{/period}}</td>
                    </tr>
                    {{#reasons}}
                        <tr>
                            <td colspan="2">{{.}}</td>
                        </tr>
                    {{/reasons}}
                    {{#notes}}
                        <tr>
                            <td colspan="2">{{.}}</td>
                        </tr>
                    {{/notes}}
                    <tr>
                        <td colspan="2">Source: {{sourceEndpointName}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        {{/encounterModels}}
    </div>

    <h1>Upcoming Tests and Procedures</h1>
    <div class="cardContainer">
        {{#serviceRequestModels}}
            <div class="card">
                <table>
                    <thead>
                    <tr>
                        <td colspan="2">{{description}}</td>
                    </tr>
                    </thead>
                    <tbody>
                    {{#requester}}
                        <tr>
                            <td colspan="2">Requested by: {{requester}}</td>
                        </tr>
                    {{/requester}}
                    {{#authoredOn}}
                        <tr>
                            <td colspan="2">Ordered on: {{authoredOn}}</td>
                        </tr>
                    {{/authoredOn}}
                    {{#reasons}}
                        <tr>
                            <td colspan="2">Reason: {{.}}</td>
                        </tr>
                    {{/reasons}}
                    {{#notes}}
                        <tr>
                            <td colspan="2">Note: {{.}}</td>
                        </tr>
                    {{/notes}}
                    <tr>
                        <td colspan="2">Source: {{sourceEndpointName}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        {{/serviceRequestModels}}
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function() {
        let sessionEstablished = $('#sessionEstablished').text();
        if (sessionEstablished !== 'true') {
            return;
        }

        // todo : things that should happen once the page has loaded
    });
</script>

{{>layout/footer}}