{{>layout/header}}

<div id="sessionEstablished" class="hidden">{{sessionEstablished}}</div>
<div id="dataSets" class="hidden">{{dataSets}}</div>

<div class="container">
    {{#systemStatusMessage}}
        <div class="row align-items-center alert alert-teal" role="alert">
            <div class="col-md-auto text-center">
                <img src="/images/info-icon.png" alt="System Status" height="50px" />
            </div>
            <div class="col">
                {{systemStatusMessage}}
            </div>
        </div>
    {{/systemStatusMessage}}

    <div id="progressContainer" class="hidden"></div>

    <h1>Vitals</h1>
    <div id="modelsContainer">
        Loading...
    </div>
</div>

<script type="text/javascript">
    function getBasePath() {
        return "/patient/vitals";
    }

    function buildCardSelectorData(model) {
        return [{
            label: 'Description',
            value: model.mostRecentData.description,
            bootstrapWidth: 6
        }, {
            label: 'Source',
            value: model.mostRecentData.sourceEndpointName,
            bootstrapWidth: 6
        }];
    }

    function buildCardData(model) {
        let card = {};
        card.title = model.mostRecentData.description;

        card.rows = [];
        card.rows.push([ model.mostRecentData.resultText ?? '(No Result)', model.mostRecentData.effectiveDate ?? '(No Date)' ]);
        if (model.mostRecentData.performers) {
            model.mostRecentData.performers.forEach(function(performer) {
                card.rows.push([ performer ]);
            });
        }
        if (model.mostRecentData.notes) {
            model.mostRecentData.notes.forEach(function(note) {
                card.rows.push([ 'Note: ' + note ]);
            });
        }
        card.rows.push([ 'Source: ' + model.mostRecentData.sourceEndpointName ]);

        if (model.historicalData && model.historicalData.length > 0) {
            card.history = {};
            card.history.headers = [ 'Result', 'Effective Date' ];
            card.history.rows = [];
            model.historicalData.forEach(function(data) {
                card.history.rows.push([ data.resultText ?? '(No Result)', data.effectiveDate ?? '(No Date)' ]);
            });
        }

        return card;
    }

    $(document).ready(function() {
        if ($('#sessionEstablished').text() !== 'true') {
            return;
        }

        // on page load, get the list of models before SSE triggers
        getUpdatedModels(renderModels);
        initializeSSE(renderModels);
    });
</script>

{{>layout/footer}}