{{>layout/header}}

<div id="sessionEstablished" class="hidden">{{sessionEstablished}}</div>
<div id="dataSets" class="hidden">{{dataSets}}</div>

<div class="container">
    {{#systemStatusMessage}}
        <div class="row align-items-center alert alert-teal" role="alert">
            <div class="col-md-auto text-center">
                <img src="/images/info-icon.png" alt="System Status" height="50px" />
            </div>
            <div class="col">
                {{systemStatusMessage}}
            </div>
        </div>
    {{/systemStatusMessage}}

    <div id="progressContainer" class="hidden"></div>

    <h1>Vitals</h1>
    <div id="modelsContainer">

    </div>
    <div class="cardContainer">
        {{#vitalsModels}}
            <div class="card">
                <table>
                    {{#mostRecentData}}
                        <thead>
                        <tr>
                            <td colspan="2">{{description}}</td>
                        </tr>
                        </thead>
                    <tbody>
                    <tr>
                        <td>{{#resultText}}{{resultText}}{{/resultText}}</td>
                        <td>{{#effectiveDate}}{{effectiveDate}}{{/effectiveDate}}</td>
                    </tr>
                    {{#performers}}
                    <tr>
                        <td colspan="2">{{.}}</td>
                    </tr>
                    {{/performers}}
                    {{#notes}}
                    <tr>
                        <td colspan="2">Note: {{.}}</td>
                    </tr>
                    {{/notes}}
                    <tr>
                        <td colspan="2">Source: {{sourceEndpointName}}</td>
                    </tr>
                    {{/mostRecentData}}
                    {{#historicalData}}
                    <tr>
                        <td>{{#resultText}}{{resultText}}{{/resultText}}</td>
                        <td>{{#effectiveDate}}{{effectiveDate}}{{/effectiveDate}}</td>
                    </tr>
                    {{/historicalData}}
                </tbody>
                </table>
            </div>
        {{/vitalsModels}}
    </div>
</div>

<script type="text/javascript">
    function getBasePath() {
        return "/patient/vitals";
    }

    function renderModels(models) {
        let container = $('#modelsContainer');
        if (models && models.length > 0) {
            let cards = [];
            let id = 1;
            models.forEach(function(model) {
                cards.push(renderCard('card_' + id, buildCardData(model)));
                id ++;
            });
            container.html(cards.join('\n'));
        }
    }

    function buildCardData(model) {
        return {
            title: model.mostRecentData.description,
            rows: [],
            history: buildHistoryData(model)
        };
    }

    function buildHistoryData(model) {
        if (model && model.historicalData && model.historicalData.length > 0) {
            return [];
        }
        return null;
    }

    $(document).ready(function() {
        if ($('#sessionEstablished').text() !== 'true') {
            return;
        }

        // on page load, get the list of models before SSE triggers
        getUpdatedModels(renderModels);
        initializeSSE();
    });
</script>

{{>layout/footer}}