<script type="text/javascript" src="{{req.contextPath}}/webjars/jquery/jquery.min.js"></script>
<script type="text/javascript" src="{{req.contextPath}}/webjars/jquery-ui/jquery-ui.min.js"></script>
<script type="text/javascript" src="{{req.contextPath}}/webjars/bootstrap/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript" src="{{req.contextPath}}/js/ecareplan.js"></script>
